.Welcom {
    font-size: 2.5em;
    background-color: rgb(171, 255, 46);
    color: white;
    padding: 10px;
    border-radius: 3px;
    margin: 0;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1); 
    text-align: center;    
}
.login{
    font-size: 2.5em;
    background-color: #ff0000;
    color: white;
     padding: 10px;
    border-radius: 3px;
    margin: 0;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1); 
    text-align: center;
}
